<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>face</title>
    <meta name="description" content="My first facebook application!">
    <meta name="author" content="deciob">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/main.css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="static/js/vendor/require-2.1.1.js"></script>
    <script>

        requirejs.config({

            // The path where your JavaScripts are located
            baseUrl: 'static/js/',
            // Specify the paths of vendor libraries
            paths: {
                jquery: 'vendor/jquery-1.8.3',
                underscore: 'vendor/underscore',
                func: 'vendor/horn/func',
                dom: 'vendor/horn/dom',
                horn: 'vendor/horn/horn',
                asevented: 'vendor/asevented-0.3.3'
            },
            // Underscore and asevented do not AMD-capable per default,
            // so we need to use the AMD wrapping of RequireJS
            shim: {
                underscore: {
                    exports: '_'
                },
                asevented: {
                    exports: 'asEvented'
                }
            }

        });


        // Bootstrap the application
        require(['jquery', 'facebook', 'friends'], function ($, f, Friends) {

            $(document).ready(function() {

                window.fbAsyncInit();

                var options = {
                  login_link: $("#login"),
                  callback: f.getFriends
                };
                var friends = new Friends(options);
    
            });
    
        });


        // Load the facebook SDK Asynchronously
        (function(d){
            var js, id = 'facebook-jssdk', 
                ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));

    </script>
</head>
<body>
    <div id="fb-root"></div>
    <section id="face-root">
      <div id="login-wrapper">
          <a id="login" class="app facebook" href="">Sign in</a>
          <h2 id="login-info-entry" class="login-info">Sign in to see a list of your friends!</h2>
          <h2 id="login-info-wait" class="login-info" style="display: none;">Loading...</h2>
      </div>
      <div id="friends-wrapper" style="display: none;">
          <input type="text" autofocus >
          <div id="friends-list-wrapper" style="font-size: 1.1em;">
              <ul id="face-list"></ul>
          </div>
      </div>
    </section>

</body>
</html>



