<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>face</title>
    <meta name="description" content="My first facebook application!">
    <meta name="author" content="deciob">
    <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="static/js/vendor/require-2.1.1.js"></script>
    <script>

        requirejs.config({

            // The path where your JavaScripts are located
            baseUrl: 'static/js/',
            // Specify the paths of vendor libraries
            paths: {
                jquery: 'vendor/jquery-1.8.3',
                underscore: 'vendor/underscore',
                func: 'vendor/horn/func',
                dom: 'vendor/horn/dom',
                horn: 'vendor/horn/horn',
                asevented: 'vendor/asevented-0.3.3'
            },
            // Underscore is not AMD-capable per default,
            // so we need to use the AMD wrapping of RequireJS
            shim: {
                underscore: {
                    exports: '_'
                },
            }

        });


        // Bootstrap the application
        require(['jquery', 'facebook'], function ($, facebook) {
    
            $(document).ready(function() {
    
                $("#fb-root").on("click", function(e) {
                    facebook.getLoginStatus();
                });
    
            });
    
        });


        // Load the facebook SDK Asynchronously
        (function(d){
            var js, id = 'facebook-jssdk', 
                ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));

    </script>
</head>
<body>

    <div id="fb-root">Click Me!</div>

</body>
</html>



